NODE_ENV=development
APP_NAME=bitetrack-api
HOST=0.0.0.0
PORT=4000
API_PREFIX=/api/v1
LOG_LEVEL=debug

CORS_ORIGINS=http://localhost:3000,http://localhost:8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=bitetrack
POSTGRES_PASSWORD=change_me_in_secret_manager
POSTGRES_DB=bitetrack_app
DATABASE_URL=postgresql://bitetrack:change_me_in_secret_manager@localhost:5433/bitetrack_app?schema=bitetrack_dev

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace_with_strong_random_secret_access
JWT_REFRESH_SECRET=replace_with_strong_random_secret_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
JWT_ISSUER=bitetrack
JWT_AUDIENCE=bitetrack-clients

COOKIE_SECRET=replace_with_strong_random_secret_cookie

GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_web_client_secret

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
